<html>
<body>
<form action="/api/v1/product_add" method="post" enctype="multipart/form-data">
<fieldset>
   <legend> <h1>产品录入 </h1></legend>
   <p>
   产品名称:<input type="text" name="name"/>
   </p>
   <p>
   库存余量:<input type="text" name="num"/>
   </p>
   <p>
   产品价格:<input type="text" name="price"/>
   </p>
   <p>
   折扣价格:<input type="text" name="discount"/>
   </p>
   <p>
   产品详情:<input type="text" name="description"/>
   </p>
   <p>
   产品分类:
   <td colspan="2">
   <select name="category">
   <option value="5"> 蔬菜 </option>
   <option value="4" selected="selected">水果</option>
   </select>
   </p>
   <p>
   产品缩略图:<input type="file" name="pic" />
   </p>
   <p>
   <input type="submit" value="增加"/>
   </p>
</form>
</body>
</html>
