<html>
<body>
<form action="/api/v1/product_add" method="post" enctype="multipart/form-data">
<fieldset>
   <legend> <h1>产品录入 </h1></legend>
   <p>
   产品名称:<input type="text" name="name"/>
   </p>
   <p>
   产品数量:<input type="text" name="number"/>
   </p>
   <p>
   产品价格:<input type="text" name="price "/>
   </p>
   <p>
   产品描述:<input type="text" name="description  "/>
   </p>
   <p>
   产品缩略图:<input type="file" name="pic" />
   </p>
   <p>
   <input type="submit" value="增加"/>
   </p>
</form>
</body>
</html>
